body {
    display: grid; 
    grid-template: auto 1fr auto / 300px ifr auto;
    height: 100vh;
}
header {
    background: #333;
    padding: 2rem;
    grid-column: 1 / 4;
}

.left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
}

main {
    background: coral;
    grid-column:  2 / 3;
}

.left-sidebar {
    background: yellow;
    grid-column: 3 / 4;
}

footer {
    background-color: wheat;
    text-align: center;
    padding: 2rem;
    grid-column: 1 / 4;
}

.left-sidebar,
.left-sidebar {
    padding: 1rem;
}

